@import "variables";

body div, ul{
    box-sizing: border-box;
}

.clearfix {
    clear: both;
}
#site-container{
    height: 100%;
    width: 100%;
    min-width: 470px;
    max-width: 875px;
    margin: 20px auto;
    padding: 1em;
}

#gamelog-container{
    height: 300px;
    max-height: 300px;
    width: 70%;
    float: left;
    margin-left: 10px;
    position: relative;
    padding: 0.25em 0.5em;
    overflow: auto;
    background-color: lightgrey;
    #gamelog{
        p:first-child{
            font-weight: bold;
        }
    }
}

.portrait {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position-y: 150px;
    float: left;
    &.pc,
    &.food {
        background-image: url($img_url + '/pc.png');
    }
    &.earth {
        background-image: url($img_url + '/earth.png');
    }
    &.robo {
        background-image: url($img_url + '/robo.png');
    }
    &.space {
        background-image: url($img_url + '/space.png');
    }
    &.ghost {
        background-image: url($img_url + '/ghost.png');
    }
}
