#player-container{
    width: 220px;
    float: left;
}

#player{
	&:hover{
		cursor: pointer;
		background-color: rgba(0,255,0,0.5);
	}
    #player-tummy{
        height: 50px;
        width: 100%;
        .food{
            float: left;
            margin-right: 5px;
            height: 50px;
            width: 50px;
            background-color: red;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}