/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/partials/_arena.scss */
#arena-container {
  box-sizing: inherit;
}

/* line 1, ../sass/partials/_general.scss */
#site-container {
  height: 100%;
  width: 100%;
  min-width: 470px;
  max-width: 875px;
  margin: 20px auto;
  padding: 1em;
  box-sizing: border-box;
}

/* line 1, ../sass/partials/_monsters.scss */
#enemy-party {
  overflow: auto;
  min-height: 135px;
  height: 270px;
}

/* line 7, ../sass/partials/_monsters.scss */
.enemy {
  box-sizing: border-box;
  padding: 1em;
  width: 420px;
  float: left;
}
/* line 12, ../sass/partials/_monsters.scss */
.enemy ul {
  box-sizing: inherit;
  margin-left: 10px;
  float: left;
}
/* line 17, ../sass/partials/_monsters.scss */
.enemy li {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
/* line 22, ../sass/partials/_monsters.scss */
.enemy .enemyImage {
  box-sizing: inherit;
  width: 100px;
  height: 100px;
  float: left;
}
/* line 28, ../sass/partials/_monsters.scss */
.enemy:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.5);
}
/* line 32, ../sass/partials/_monsters.scss */
.enemy:active {
  cursor: pointer;
  background-color: rgba(150, 0, 0, 0.9);
}

/* line 1, ../sass/partials/_player.scss */
#player-menu {
  box-sizing: inherit;
  border-style: solid;
  border-width: 1px;
  padding: 1em;
  width: 100%;
}

/* line 9, ../sass/partials/_player.scss */
#player {
  box-sizing: inherit;
  margin-left: auto;
  margin-right: auto;
  width: 220px;
}
/* line 14, ../sass/partials/_player.scss */
#player:hover {
  cursor: pointer;
  background-color: rgba(0, 255, 0, 0.5);
}
/* line 18, ../sass/partials/_player.scss */
#player #player-tummy {
  height: 50px;
}
