/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/partials/_general.scss */
body div, ul {
  box-sizing: border-box;
}

/* line 7, ../sass/partials/_general.scss */
.clearfix {
  clear: both;
}

/* line 10, ../sass/partials/_general.scss */
#site-container {
  height: 100%;
  width: 100%;
  min-width: 470px;
  max-width: 875px;
  margin: 20px auto;
  padding: 1em;
}

/* line 19, ../sass/partials/_general.scss */
#gamelog-container {
  height: 300px;
  max-height: 300px;
  width: 70%;
  float: left;
  margin-left: 10px;
  position: relative;
  padding: 0.25em 0.5em;
  overflow: auto;
  background-color: lightgrey;
}
/* line 30, ../sass/partials/_general.scss */
#gamelog-container #gamelog p:first-child {
  font-weight: bold;
}

/* line 36, ../sass/partials/_general.scss */
.portrait {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-position-y: 150px;
  float: left;
}

/* line 44, ../sass/partials/_general.scss */
.portrait.pc {
  background-image: url("../../media/images/pc.png");
}

/* line 47, ../sass/partials/_general.scss */
.portrait.earth {
  background-image: url("../../media/images/earth.png");
}

/* line 50, ../sass/partials/_general.scss */
.portrait.robo {
  background-image: url("../../media/images/robo.png");
}

/* line 53, ../sass/partials/_general.scss */
.portrait.space {
  background-image: url("../../media/images/space.png");
}

/* line 56, ../sass/partials/_general.scss */
.portrait.ghost {
  background-image: url("../../media/images/ghost.png");
}

/* line 1, ../sass/partials/_monsters.scss */
#enemy-party {
  overflow: auto;
  min-height: 135px;
  height: 550px;
}

/* line 7, ../sass/partials/_monsters.scss */
.enemy {
  padding: 1em;
  width: 300px;
  float: left;
}
/* line 11, ../sass/partials/_monsters.scss */
.enemy ul {
  margin-left: 10px;
  float: left;
}
/* line 15, ../sass/partials/_monsters.scss */
.enemy li {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
/* line 20, ../sass/partials/_monsters.scss */
.enemy .enemyImage {
  width: 100px;
  height: 100px;
  float: left;
}
/* line 25, ../sass/partials/_monsters.scss */
.enemy:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.5);
}
/* line 29, ../sass/partials/_monsters.scss */
.enemy:active {
  cursor: pointer;
  background-color: rgba(150, 0, 0, 0.9);
}

/* line 1, ../sass/partials/_player.scss */
#player-container {
  border-style: solid;
  border-width: 1px;
  padding: 1em;
  width: 240px;
  float: left;
  position: relative;
  overflow: auto;
}
/* line 10, ../sass/partials/_player.scss */
#player-container #player .portrait {
  float: none;
}
/* line 17, ../sass/partials/_player.scss */
#player-container #player #player-tummy {
  height: 50px;
  width: 100%;
}
/* line 20, ../sass/partials/_player.scss */
#player-container #player #player-tummy .food {
  float: left;
  margin-right: 5px;
  height: 50px;
  width: 50px;
  background-color: red;
}
/* line 26, ../sass/partials/_player.scss */
#player-container #player #player-tummy .food img {
  width: 100%;
  height: 100%;
}
